.searchBox {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.inputWrapper .icon {
  position: absolute;
  left: 20px;
  color: #888;
  font-size: 1rem;
  transition: color 0.3s ease;
}
